<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
<!--tipografia-->    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<!--hoja de estilos-->    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
<img id="logo" src="/images/logo-mercado-liebre.svg" alt="">

<div class="search-container">

    <input type="text" placeholder="Buscar productos, marcas y mas...">
    <button type="submit"><i class="fa fa-search"></i></button>
 
</div>
<p class="slogan"><i class="fas fa-hand-holding-usd"></i>
    Comprá en cuotas y sin tarjeta de crédito</p>

    <nav>
        <ul>
            <li ><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="ulDer">
            <li><a href="#">Creá tu cuenta</a>
                <i class="far fa-id-card"></i>
            </li>
            <li><a href="#">Ingresá</a>
                <i class="fas fa-sign-in-alt"></i>
            </li>
            <li><a href="#">Mis compras</a>
                <i class="fas fa-shopping-basket"></i>
            </li>
        </ul>
    </nav>
<!--boton menu hamburguesa-->
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    
</header>
<img src="/images/img-home-banner.jpg" alt="" style="width: 100%;">
    
<main>
<section class="ultima-visita">
    <h3 class="titulares">Basado en tu última visita</h3>
<div class="container">
<article>  
    <img src="/images/img-cafetera-moulinex.jpg" alt="">
    <div class="caja">
        <i class="fas fa-truck"></i>
        <p class="precio">$6.770</p>
        <p class="descuento">40% off</p>
        <h4 class="descripcion">Cafetera Moulinex</h4>
    </div>
</article>
<article>
    <img src="/images/img-macbook-pro-2019.jpg" alt="">
    <div class="caja">
        <i class="fas fa-truck"></i>
        <p class="precio">$230.000</p>
        <p class="descuento">20% off</p>
        <h4 class="descripcion">MacBook Pro 2019</h4>
    </div>
</article>
<article>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
    <div class="caja">
        <i class="fas fa-truck"></i>
        <p class="precio">$70.500</p>
        <p class="descuento">10% off</p>
        <h4 class="descripcion">Samsung Galaxy S10</h4>
</div>
</article>
<article>
    <img src="/images/img-tv-samsung-smart.jpg" alt="">
    <div class="caja">
        <i class="fas fa-truck"></i>
        <p class="precio">$23.200</p>
        <p class="descuento">5% off</p>
        <h4 class="descripcion">SmartTv Samsung 43"</h4>
    </div>    
</article>
</div>
</section>

<section class="ofertas">
    <h3 class="titulares">Ofertas</h3>
 <div class="container">   
    <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            <h4 class="descripcion">Cafetera Moulinex</h4>
        </div>
    </article>
    <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <h4 class="descripcion">MacBook Pro 2019</h4>
        </div>
    </article>
    <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <h4 class="descripcion">Samsung Galaxy S10</h4>
    </div>
    </article>
    <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <h4 class="descripcion">SmartTv Samsung 43"</h4>
        </div>    
    </article>
 </div>
</section>
</main>

<footer>
    <div class="iconosF">
    <i class="fas fa-credit-card"></i>
    </div>
<section>
    <b>Pagá con tarjeta o en efectivo</b>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
</section>
<div class="iconosF">
    <i class="fas fa-gift"></i>
    </div>
<section>    
    <b>Envío gratis desde $ 2.500</b>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
</section>
<div class="iconosF">
    <i class="fas fa-user-shield"></i>
</div>
<section>
    <b>Seguridad, de principio a fin</b>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
</section>

<p class="pie">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</footer>

</body>
</html>