<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
<header>

<style>
        img {
         width: 100%;  
        }
</style>

<img src="/images/logo-mercado-liebre.svg" />
<p>Lugar para poner la barra de búsqueda</p>
<p>Comprá en cuotas y sin tarjeta de crédito</p>

    <nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </nav>

    <img src="/images/img-home-banner.jpg" alt="">
</header>

    <main>
<seccion>
    <h3>Basado en tu última visita</h3>
    <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="">
        <p>$6.770</p>
        <p>40% off</p>
        <b>Cafetera Moulinex</b>
    </article>
    <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="">
        <p>$230.000</p>
        <p>20% off</p>
        <b>MacBook Pro 2019</b>
    </article>
    <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        <p>$70.500</p>
        <p>10% off</p>
        <b>Samsung Galaxy S10</b>
    </article>
    <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="">
        <p>$23.200</p>
        <p>5% off</p>
        <b>SmartTv Samsung 43"</b>
    </article>
</seccion>

<seccion>
    <h3>Ofertas</h3>
    <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="">
        <p>$6.770</p>
        <p>40% off</p>
        <b>Cafetera Moulinex</b>
    </article>
    <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="">
        <p>$230.000</p>
        <p>20% off</p>
        <b>MacBook Pro 2019</b>
    </article>
    <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        <p>$70.500</p>
        <p>10% off</p>
        <b>Samsung Galaxy S10</b>
    </article>
    <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="">
        <p>$23.200</p>
        <p>5% off</p>
        <b>SmartTv Samsung 43"</b>
    </article>
</seccion>
</main>

<footer>
<seccion>
    <b>Pagá con tarjeta o en efectivo</b>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
</seccion>
<seccion>
    <b>Envío gratis desde $ 2.500</b>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
</seccion>
<seccion>
    <b>Seguridad, de principio a fin</b>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
</seccion>
<seccion>
    <b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b>
</seccion>
</footer>

</body>
</html>