* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ebebeb;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
}
img {
    display: block;
    width: 100%;
}
/*encabezado*/

header {
    background-color: #EAC926;
}
  
  
.burger-menu {
    text-align: center;
    }
.burger-menu > i{ 
        background-color: #1259c3;
        color: white;
        padding: 12px;
        margin: 1rem;
        border-radius: 8px;
        font-size: 24px;        
}
.slogan{
    display: block;
    text-align: center;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
}
 
ul{
    list-style: none;
    padding: 10px;    
}
/*----------------main principal*/

main {
    width: 90%;
    margin: auto;
}
.caja i {
    display: block;
    background-color: #FFF;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: -15px;
}
.titulares {
    font-size: 24px;
    margin: 20px 0;
    color: #666;
}

.precio{
    font-size: 18px;
    display: inline-block;
    padding-right: 30%;
}
.descuento {
    font-size: 16px;
    color: #39b54a;
    display: inline-block;
}
.descripcion {
color:#666;
font-size: 16px;
margin-top: 5px;
}

article {
    margin: 10px 0; 

}
.caja {
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    width: 100%;
}

/*----------pie de pagina*/
footer {
   text-align: center;
   background-color: white;
   color: #666;

}

.iconosF {
    color: #1259c3;
    font-size: 2.5em;
    margin-bottom: 10px;
    padding: 10vw 10vw 0;
}

footer>section{
    color: #666;
    padding: 0 10vw;
}

footer>section > b {
    
    font-weight: bolder;
}    
.pie{
    font-size: 10px;
    text-align: left;
    padding: 5%;    
}

@media (min-width: 361px){
/*tablet*/
article {
    box-shadow: 0 0 10px rgb(100,100,100);
  }
.burger-menu{
    display: none;
}

article {
    width: 45%;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}
/*encabezado*/

header {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

}

#logo {
    display: block;
    width: 30%;
    margin: 3% 0 3% 3%;
    padding: 0;
}

.search-container {
    width: 30%;
    margin: 0;
    padding: 6% 0;
    text-align: center;
 }

 .search-container input {
     width: 80%;
     margin: 0;
     padding: 0;
  }

.slogan{
    display: block;
    width: 37%;
    text-align: left;
    margin: 0;
    padding: 7% 3%;
    
}

  nav {
     width: 100%;
     margin: 0;
     padding: 0; 
     display: flex;
     flex-flow: row wrap;
     align-content: flex-start;
     justify-content: space-between;
    }
nav ul {
    width: 40%;
    margin: 3%;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 3%;
}
.ulDer{
    text-align: right;
}
}
@media (min-width: 769px){
/*desktop*/

.burger-menu{
    display: none;
}
article {
    width: 22%;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

}
}

@media (max-width: 360px){
/*mobile*/
    nav {
        display: none;
    }

    #logo {
    display: inline;
    width: 50%;
    padding:5%;
}


 .search-container {
    float: right;
    width: 50%;
    padding-top: 5%;
    padding-right: 5%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

  }
 
  .search-container input{
    display: block;  
    border: none;
    padding: 6%;
    width: 100%;
    border-radius: 6px;
    background: white;
}
  
   .search-container > button {
    display: block;
    background: white;
    color: #666;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1% 1%;
    border-radius: 6px;
    position: absolute;
    right: 5%;

}

}