* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ebebeb;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
}
img {
    display: block;
    width: 100%;
}
/*encabezado*/
.hamburguer-button {
    background-color: #03264C;
    color: #fff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.main-header {
    background-color: #EAC926;
    padding: 20px;
}
/*top-bar organizando...*/
.main-header-top-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo {
    width:50%;
    padding: 0;
}

 .search-container {
    width: 50%;
    margin: auto;
    padding: 0 0 0 10px;
    position: relative;
  }
 
  .search-container input{
    border: none;
    padding: 6%;
    width: 100%;
    border-radius: 8px;
    background: white;
}
  
   .search-container > button {
    background: white;
    color: #666;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    right: 0%;
    padding: 6%;
   }

.copy-header {
    width: 100%;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
}
/*top-bar organizado*/

section.banner img{
    width: 100%;
}
.main-navbar {
    display: none;
}


/*----------------main principal*/

main {
    width: 90%;
    margin: auto;
}
.caja i {
    display: block;
    background-color: #FFF;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: -15px;
}
.titulares {
    font-size: 24px;
    margin: 20px 0;
    color: #666;
}

.precio{
    font-size: 18px;
    display: inline-block;
    padding-right: 30%;
}
.descuento {
    font-size: 16px;
    color: #39b54a;
    display: inline-block;
}
.descripcion {
color:#666;
font-size: 16px;
margin-top: 5px;
display: none;
}
article:hover {
    box-shadow: 0 0 10px rgb(100,100,100);
}
article:hover .descripcion{
    display: block;
}

article {
    margin: 10px 0; 
    transition: 0.5s;
}
.caja {
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    width: 100%;
}
.caja>i {
    transition: all 1s;
}
article:hover .caja>i{
    transform: rotateZ(360deg);
}
/*----------pie de pagina*/
footer {
   text-align: center;
   background-color: white;
   color: #666;
   padding: 20px;
}

.iconosF {
    color: #1259c3;
    font-size: 3em;
    margin-bottom: 10px;
    padding-top: 15%;
    transition: 450ms;
}
.iconosF:hover {
    color: #39b54a;
}

footer>section{
    color: #666;
    padding: 0 5%;
}

footer>section > h3 {
    
    font-weight: bold;
}    
.copyright{
    text-align: left;
    margin-top: 5%;
}


@media (min-width: 361px){
/*tablet*/

.hamburguer-button {
    display: none;
}
/*encabezado*/
.main-header-top-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.logo {
    width: 30%;
}
.search-container{
    width: 30%;
}
.copy-header {
    width: 40%;
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    margin: auto;
    padding: 0 0 0 10px;
}

/*barra de navegacion*/
.main-navbar {
    display: flex;
    /*flex-flow: row wrap;*/
    justify-content: space-between;
    margin-top: 10px;
}
.main-navbar ul {
    display: flex;
}
.main-navbar li {
    margin: 0 5px;
}
.main-navbar .right-navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: right; 
}
.main-navbar .left-navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

/*estilo de listas y enlaces*/
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 13px ;
}
/*tarjeta de producto*/
article {
    box-shadow: 0 0 10px rgb(100,100,100);
  }
article {
    width: 45%;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

}
@media (min-width: 769px){
/*desktop*/

.burger-menu{
    display: none;
}
.main-header-top-bar, .main-navbar {
    max-width: 1200px;
    margin: auto;
}
.copy-header {
    max-width: none;
    font-size: 16px;
    margin: auto;
}
.main-navbar a {
    margin-top: 40px;
    font-size: 16px;
    }
article {
    width: 22%;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

}
/*pie de pagina*/
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
footer section {
    width: 30%;
    text-align: center;
    margin:auto;
    padding: 0;
}


}